In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Data/data.csv')

In [3]:
df.head()

,text,source,prompt_id,text_length,word_count
0,"Federal law supersedes state law, and cannabis...",Bloom-7B,0,967,157
1,Miles feels restless after working all day. He...,Bloom-7B,0,5068,778
2,So first of I am danish. That means that I fol...,Bloom-7B,0,1602,267
3,In this paper we present a novel rule-based ap...,Bloom-7B,0,5469,848
4,"Most social progressives, love democracy, and ...",Bloom-7B,0,2379,380

In [4]:
df['source'].unique()

array(['Bloom-7B', 'Claude-Instant-v1', 'Claude-v1', 'Cohere-Command',
       'Dolphin-2.5-Mixtral-8x7B', 'Dolphin-Mixtral-8x7B', 'Falcon-180B',
       'Flan-T5-Base', 'Flan-T5-Large', 'Flan-T5-Small', 'Flan-T5-XL',
       'Flan-T5-XXL', 'GLM-130B', 'GPT-3.5', 'GPT-4', 'GPT-J', 'GPT-NeoX',
       'Gemini-Pro', 'Goliath-120B', 'Human', 'LLaMA-13B', 'LLaMA-2-70B',
       'LLaMA-2-7B', 'LLaMA-30B', 'LLaMA-65B', 'LLaMA-7B', 'LZLV-70B',
       'Mistral-7B', 'Mistral-7B-OpenOrca', 'Mixtral-8x7B',
       'MythoMax-L2-13B', 'Neural-Chat-7B', 'Noromaid-20B',
       'Nous-Capybara-34B', 'Nous-Capybara-7B', 'Nous-Hermes-LLaMA-2-13B',
       'Nous-Hermes-LLaMA-2-70B', 'OPT-1.3B', 'OPT-125M', 'OPT-13B',
       'OPT-2.7B', 'OPT-30B', 'OPT-350M', 'OPT-6.7B', 'OpenChat-3.5',
       'OpenHermes-2-Mistral-7B', 'OpenHermes-2.5-Mistral-7B', 'PaLM-2',
       'Psyfighter-13B', 'Psyfighter-2-13B', 'RWKV-5-World-3B',
       'StripedHyena-Nous-7B', 'T0-11B', 'T0-3B', 'Text-Ada-001',
       'Text-Babbage-001', 'Text-Curie-001', 'Text-Davinci-001',
       'Text-Davinci-002', 'Text-Davinci-003', 'Toppy-M-7B', 'Unknown',
       'YI-34B'], dtype=object)

In [7]:
print(df['source'].value_counts())

Human                       347692
GPT-3.5                      52346
Text-Davinci-003             22860
Text-Davinci-002             21436
OPT-1.3B                     18467
                             ...
Toppy-M-7B                     433
LLaMA-2-7B                     409
Dolphin-Mixtral-8x7B           407
Cohere-Command                 390
Dolphin-2.5-Mixtral-8x7B       228
Name: source, Length: 63, dtype: int64

In [19]:
gemini_pro_values = df[df['source'] == 'Gemini-Pro']
human_values = df[df['source'] == 'Human']

In [21]:
print(len(gemini_pro_values))
print(len(human_values))

613
347692

In [14]:
gemini.head()

0    False
1    False
2    False
3    False
4    False
Name: source, dtype: bool

In [22]:
arjun_human_gemini = pd.read_csv('/home/csgrad/kaushik3/LLM/Kaggle_63LLMs/GEMINI/human_gemini.csv')

In [27]:
arjun_human_gemini['source'].value_counts()

Human         278018
Gemini-Pro       486
Name: source, dtype: int64